<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form action="/submit" method="POST">
        {% csrf_token %}
        <input type="url" name="long_url" id="long_url" placeholder="https://example.com" pattern="https://.*"
            size="500" required>
        <input type="submit" value="shorten">
    </form>
    <a href="{{ short_url }}"> {{ short_url }}</a>

</body>

</html>