{% extends 'base.html' %}
{% block content %}
    <h2>You have now logged in. Well done.</h2>
    <ul>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, iure.</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, iure.</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, iure.</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, iure.</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, iure.</li>
    </ul>
{% endblock %}